@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
	width: 100%;
	max-width: 230px;
	/*min-width: 230px;*/
	position: absolute;
	top: 0px;
	left: 20px;
	font-size: 1.3em;
	line-height: 2.5;
	font-weight: 400;
	color: #fff;
}

.dr-menu > div {
	cursor: pointer;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.dr-menu > div .dr-icon {
	top: 0;
	left: 0;
	/*color: #FF4081;*/
	position: fixed;
	font-size: 150%;
	line-height: 1.6;
	padding: 0 10px;
	padding-left: 20px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: #FFFFFF;
	/*left: 100%;*/
	-webkit-transform: translateX(205px);
	-moz-transform: translateX(205px);
	-ms-transform: translateX(205px);
	transform: translateX(205px);
}

.dr-menu > div .dr-icon:after {
	content: "\e009";
	position: fixed;
	font-size: 50%;
	line-height: 3.25;
	left: -10%;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	padding-left: 2.75em;
	position: fixed;
	display: block;
	color: #FFFFFF;
	font-size: .90em;
	font-weight: 400;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;
	line-height: 2.80;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.dr-menu.dr-menu-open > div .dr-label {
	-webkit-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
	-ms-transform: translateX(-15%);
	transform: translateX(-15%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 3em 0 0;
	margin-top: 55px;
	list-style: none;
	opacity: 0;
	position: relative;
	z-index: 800;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 240ms;
	-moz-transition: opacity 0s linear 240ms;
	transition: opacity 0s linear 240ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 3;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
}

.dr-menu ul li {
	display: block;
	position: fixed;
	z-index: 900;
	margin-top: -100px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(1) {
	margin-top: 0px;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	margin-top: 60px;
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
	margin-top: 120px;
	-webkit-transition-delay: 70ms;
	-moz-transition-delay: 70ms;
	transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
	margin-top: 180px;
	-webkit-transition-delay: 105ms;
	-moz-transition-delay: 105ms;
	transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
	margin-top: 240px;
	-webkit-transition-delay: 140ms;
	-moz-transition-delay: 140ms;
	transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
	margin-top: 300px;
	-webkit-transition-delay: 175ms;
	-moz-transition-delay: 175ms;
	transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
	margin-top: 360px;
	-webkit-transition-delay: 210ms;
	-moz-transition-delay: 210ms;
	transition-delay: 210ms;
}

.dr-menu.dr-menu-open ul li:nth-child(8) {
	margin-top: 420px;
	-webkit-transition-delay: 240ms;
	-moz-transition-delay: 240ms;
	transition-delay: 240ms;
}

.dr-menu ul li a {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: #0091ea;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 173px;
	/*border-color: rgba(0,0,0,0);*/
}

.dr-menu ul li a.dr-icon-messages {
	/*margin-right:4px;
	 border-right-color: #03a9f4;
	 border-right-style: solid;
	 border-right-width: 4px;*/

}

.dr-menu ul li a:hover {
	color: #90caf9;
	border-right-color: #03a9f4;
	border-right-style: solid;
	border-right-width: 2px;
	margin-left: 1px;
}

.dr-icon:before, .dr-icon:after {
	position: relative;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-right: 12px;
}

.dr-icon-user:before {
	content: "\e000";
}

.dr-icon-checklist:before {
	content: "\e001";
}

.dr-icon-office:before {
	content: "\e002";
}

.dr-icon-folder:before {
	content: "\e003";
}

.dr-icon-music:before {
	content: "\e004";
}

.dr-menu ul .dr-icon-users:before {
	content: "\e005";
	margin-right: 9px;
}

.dr-menu ul .dr-icon-messages:before {
	content: "\e006";
	margin-right: 9px;
}

.dr-menu ul .dr-icon-profile:before {
	content: "\e007";
	margin-right: 9px;
}

.dr-icon-menu:before {

	content: "\e008";
}

