body, html {
	color: #1607A8;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	background-size: cover;
}
*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.full {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}